{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} - Password Reset{% endblock head_title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <h5 class="mt-4 mb-4">Reset your password</h5>
            <div class="my-2">
                <li class="text-muted">Enter your email address below</li>
                <li class="text-muted">Our system will send you a temporary link</li>
                <li class="text-muted">Use the link to reset your password</li>
            </div>
            
            <div class="container mt-4">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn my-2" style="background-color: #90EE90;" value="Reset" >
                </form>
            </div>
        </div>  
    </div>
{% endblock content %}