{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - Passord-reset - Done{% endblock head_title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <div class="container mt-5">
                <p>We have emailed you the instructions for changing your password. </p>
                <p>Visit your inbox and follow the attached link to proceed.</p>
            </div>
        </div>  
    </div>
{% endblock content %}