{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} - Change Password {% endblock head_title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <h4 class="my-5">Change Password here:</h4>
            <div class="container-lg">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn my-2" style="background-color: #90EE90;" value="Confirm" >
                </form>
            </div>
        </div>  
    </div>
{% endblock content %}