{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} - Sign Up{% endblock head_title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h3 class="mt-4 mb-5">Sign up Here:</h3>
            <div class="container-lg">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn my-2" style="background-color: #90EE90;" value="Sign up" >
                </form>
            </div>
        </div>  
    </div>
{% endblock content %}