{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style_homepage.css' %}">
    <title>{% block head_title %}Vegan Style{% endblock head_title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #90EE90;">
      <div class="container">
          <a class="navbar-brand" href="/">Vegan Style</a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'track_hash_page' %}">Track Lot In the Blockchain</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              {% if request.user.is_authenticated %}
              <form class="d-flex mx-2" method="POST" action="{% url 'search_tracking_code' %}">
                {% csrf_token %}
                <input name="searched" class="form-control me-2" type="search" placeholder="Search for Tracking code" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ request.user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> 
                  <li><a class="dropdown-item" href="{% url 'lot_registration' %}">Register a new product</a></li>               
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
              {% endif %}
              {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Are you an administrator? Log in</a>
              </li>
              {% endif %}
            </ul>
          </div>
      </div>  
    </nav>
    {% block content %}
  

    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
